
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        title iREK
    body
        header
            .background
            .head
                .title 
                    
                    img( src="/img/logo.svg" alt="logo irek")
                    h1 iREK 
                nav#nav
                    a(href="/#inicio")
                        span Inicio

                    a(href="/#somos")
                        span Somos

                    a(href="/#objetivos")
                        span Objetivos

                    a(href="/#login")
                        span Login
                        
                    a(href="/#idea_verde")
                        span Idea verde
                         
                    a(href="https://youtu.be/p2wNB5OHtz0")
                        span Discriminación?
            .description
                h2 ¿Qué es un estilo?
                p 
            
                    | Un estilo es aquello que te hace único como persona, haciendote
                    | singular y diferente a los demas. Es tu imagen personal, estetica
                    | que te otorga comodidad y seguridad.
                    br
                    | Actualmente, tras la pandemia surgieron estilos inovadores y unicos,
                    | los cuales atrajeron (principalmente a adolecentes) y se 
                    | establecieron en la sociedad. Sin embargo, aún conservamos estilos 
                    | del pasado, los cuales es seguro nunca pasaran de moda.
                    | Tu estilo, además de ser tu vestimenta, es el que te define, 
                    | mostrando al mundo tus gustos y emociones.
                    | Todo estilo es bienvenido a nuestro rincon de internet.
    
        .styles_container 
            h2 Estilos 
            
            .container 
            
                .style#casual(style="background-image: url(/img/estilos/chica_casual.jpg)")
                    .type 
                        span Casual

                .style#clasic(style="background-image: url(https://lastendenciasdeyaneth.files.wordpress.com/2018/01/estiloclasico-e1514916149457.jpg?w=1130&h=651&crop=1)")
                    .type 
                        span Clásico

                .style#hippie(style="background-image: url(https://cdn.pixabay.com/photo/2015/07/13/02/52/girl-842719_960_720.jpg)")
                    .type 
                        span Hippie

                .style#punk(style="background-image: url(https://media.revistagq.com/photos/5ca5fc0af552a1a9d932ef2e/2:3/w_534,h_801,c_limit/moda_estilo_punk_tendencias_hombre_2017_gq_6541.jpg)") 
                    .type 
                        span Punk

                .style#gotico(style="background-image: url(/img/estilos/chica_gotica.jpg)")
                    .type 
                        span Gotico

                .style#hipster(style="background-image: url(/img/estilos/chica_hipster.jpg)") 
                    .type 
                        span Hipster

                .style#exotico(style="background-image: url(/img/estilos/chica_estilo_exotica.jpg)") 
                    .type 
                        span Exotico

                .style#callejero(style="background-image: url(/img/estilos/chica_estilo_callejero.jpg)") 
                    .type 
                        span Callejero 

                .style#dark(style="background-image: url(/img/estilos/chica_estilo_dark.jpg)") 
                    .type 
                        span Dark 

                .style#emo(style="background-image: url(/img/estilos/chica_emo.jpg)") 
                    .type 
                        span Emo 

                .style#Indiekid(style="background-image: url(img/estilos/chica_indie_kit.jpeg)") 
                    .type 
                        span IndieKid
                .style#Aesthetic(style="background-image: url(/img/estilos/aesthetic.jpeg)") 
                    .type 
                        span aesthetic
                .style#Boho(style="background-image: url(https://cdn.pixabay.com/photo/2020/09/18/22/28/woman-5583059_960_720.jpg)") 
                    .type 
                        span Boho
                .style#Egirl(style="background-image: url(https://cdn.pixabay.com/photo/2021/03/01/20/10/girls-6060748_960_720.jpg)") 
                    .type 
                        span E-Girl/Boy
                .style#ArtHoe(style="background-image: url(https://static.wikia.nocookie.net/aesthetics/images/4/48/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4361577a61374b57596541647a413d3d2d3733353536303336312e3135613132656637323.jpg)") 
                    .type 
                        span Art Hoe
                .style#Urbanic(style="background-image: url(https://media.vogue.mx/photos/62d7233fbea05d4f2b75511b/2:3/w_2560%2Cc_limit/Urbanic-4.jpg)") 
                    .type 
                        span Urbanic Chic
                .style#mini(style="background-image: url(https://media.gq.com.mx/photos/6195a20f9d62ea68964f258a/master/pass/que-es-un-closet-minimalista-para-hombre-y-como-hacer-uno.jpg)") 
                    .type 
                        span Minimalista
                .style#cotta(style="background-image: url(https://www.vivalamoda.com.ar/resources/original/notas/cottagecore/cottagecore2/IMG_4039.JPG)") 
                    .type 
                        span Cottagecore

        .styles_view#stylesView
            .header 
                .title 
                    .back-button#back
                        svg(
                            width="31", height="31", viewBox="0 0 31 31",
                            fill="none", xmlns="http://www.w3.org/2000/svg"
                            )
                            path( 
                                d=`M25.8333 15.5C25.8333 21.1963 21.1962 
                                25.8333 15.5 25.8333C9.80371 25.8333 5.16662 
                                21.1963 5.16662 15.5C5.16662 9.80376 9.80371 
                                5.16668 15.5 5.16668C21.1962 5.16668 25.8333 
                                9.80376 25.8333 15.5ZM28.4166 15.5C28.4166 8.37001 
                                22.63 2.58334 15.5 2.58334C8.36996 2.58334 2.58329 
                                8.37001 2.58329 15.5C2.58329 22.63 8.36996 28.4167 
                                15.5 28.4167C22.63 28.4167 28.4166 22.63 28.4166 
                                15.5ZM15.5 16.7917H20.6666V14.2083H15.5V10.3333L10.3333 
                                15.5L15.5 20.6667L15.5 16.7917Z`
                                fill="#58526F")
                    a(href="/") 
                        h2 iREK 

                nav 
                    a(href="/#inicio")
                        span Inicio

                    a(href="/#somos")
                        span Somos

                    a(href="/#objetivos")
                        span Objetivos

                    a(href="/#login")
                        span Login
                        
                    a(href="/#idea_verde")
                        span Idea verde
            .style#style 
                .img
                .details 
                    h2 Style name
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae natus cum fuga ab praesentium in odit voluptates ipsum ipsa deserunt! Minima impedit expedita vero cupiditate voluptatem ut, veritatis natus similique?Dicta quasi alias consectetur asperiores, cumque sunt sint sequi, aut, possimus tenetur deleniti esse eaque soluta corporis. Maxime iusto blanditiis possimus iste? Ad quisquam soluta doloremque suscipit inventore delectus laudantium.Numquam, deleniti voluptas quam itaque recusandae, illo delectus unde cumque accusantium quis optio accusamus fugiat minus inventore similique nihil! Quae, quasi. Quisquam minus autem hic veniam non qui, minima voluptates?Nam porro tempora iste excepturi accusantium soluta a doloremque. Ratione, hic tenetur? Ut voluptatum, quibusdam doloribus vel cumque consequatur velit! Sunt doloribus ex quis voluptates! Deserunt quo a repudiandae veniam!

            .aside 
                .comments 
                    .new-comment 
                        input#new_comment(type="text", name="comment", placeholder="Deja un comentario")
                        a(href="/#login")
                            input(type="submit", value="Enviar" disabled)#send_comment
                    .comment-container#comment_container
                       
                    template#template_comment
                            .comment 
                                .header 
                                    img
                                    h3.user_name

                                .body
                                    p.text 

                                    .like 
                                        svg(width="43" height="37" viewBox="0 0 43 37" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(
                                                d=`
                                                    M21.1485 36.7L18.082 34.06C7.1905 24.72 0 18.56
                                                    0 11C0 4.84 5.11794 0 11.6317 0C15.3115 0 
                                                    18.8433 1.62 21.1485 4.18C23.4537 1.62 26.9855 
                                                    0 30.6653 0C37.1791 0 42.297 4.84 42.297 11C42.297 
                                                    18.56 35.1065 24.72 24.215 34.08L21.1485 36.7Z`
                                                    fill="#B886DF"
                                                )
                                        span.ammount
                
                .green-idea
                    .idea-img 
                        img(src="/img/luz-verde.svg", alt="green idea svg")
                    .idea
                        p Compra prendas en tiendas libres de explotación ambiental. ¡Busca ropa biodegradable!

                    .heart
                        svg(width="43" height="37" viewBox="0 0 43 37" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(
                                d=`
                                    M21.1485 36.7L18.082 34.06C7.1905 24.72 0 18.56
                                    0 11C0 4.84 5.11794 0 11.6317 0C15.3115 0 
                                    18.8433 1.62 21.1485 4.18C23.4537 1.62 26.9855 
                                    0 30.6653 0C37.1791 0 42.297 4.84 42.297 11C42.297 
                                    18.56 35.1065 24.72 24.215 34.08L21.1485 36.7Z`
                                    fill="#CBDBBB"
                                )

    script(src="/js/home.js") 